<!DOCTYPE html>
<html>
<head>
    <title>客服人员管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/rent/statics/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/lock/statics/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/rent/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="/lock/statics/plugins/ztree/css/metroStyle/metroStyle.css">

    <script src="/rent/statics/libs/jquery.min.js"></script>
    <script src="/rent/statics/plugins/layer/layer.js"></script>
    <!--<script src="statics/libs/bootstrap.min.js"></script>-->
    <script src="/rent/statics/libs/vue.min.js"></script>
    <script src="/rent/statics/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="/rent/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="/rent/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="/rent/js/common.js"></script>

</head>
<body>
<div  id="rrapp" v-cloak >
    <div   v-show="showList" >
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="姓名">
            </div>
            <a class="btn btn-default"  @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a class="btn btn-primary" @click="disabled"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
            <a class="btn btn-primary" @click="normal"><i class="fa fa-trash-o"></i>&nbsp;解禁</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" id="addLayer" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-2 control-label">用户名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="username" placeholder="用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">密码</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="password" placeholder="密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">手机号</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="mobile" placeholder="手机号"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/rent/js/sys/property.js"></script>
</body>
</html>